*.zip
*.rar
*.log
.DS_Store
.DS_Store?
._*

.ipynb_checkpoints
*/.ipynb_checkpoints/*
requirements.txt

*.pt
*.weights
*.137
*.cache
*.jpg
*.tif

*.txt
*.xml
!*/cluster/utils/*.txt

# kmeans-anchor-boxes/
# mish-cuda/
detection/cache/

detection/preprocess_detect_orig.py

detection/runs/*
detection/annotations/*
detection/images/*
detection/labels/*
detection/data*
detection/detect_buffer*
detection/visualize*
detection/old/

cluster/old/
cluster/raw/*
cluster/result/*

!cluster/raw/process_new.py

